// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.content.browser;

public class SpeechRecognitionError {
#define DEFINE_SPEECH_RECOGNITION_ERROR(x,y) public static final int x = y;
#include "content/public/common/speech_recognition_error_list.h"
#undef DEFINE_SPEECH_RECOGNITION_ERROR
}
